.navbar {
  background-color: rgb(255, 255, 0);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbar h4 {
  color: #000000;
}
.navbar a {
  text-decoration: none;
}
